<header>
    <div class="jumbotron jumboron-fluid">
        <div class="container">
            <h1> Shop App</h1>
            <p class="lead">
                Integer dapibus est eros, ut blandit arcu volutpat vel. Sed gravida orci sit amet finibus rhoncus. Cras dignissim pretium nulla, eget placerat nulla porttitor eget. Suspendisse sagittis congue sem in tincidunt. Sed eu ligula a ipsum scelerisque congue. Donec viverra mauris quis interdum porttitor. Cras volutpat volutpat odio vulputate varius.

            </p>
        </div>
    </div>
</header>
